*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.bigdreamz{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(45deg, rgba(0,0,0,0.85), rgba(121, 31, 19, 0.85)), url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 8%;
    text-align: center;
    color: #fff;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 80px;
    cursor: pointer;
}
.btn{
    background: linear-gradient(#e93131, #c53930);
    color: #fff;
    font-size: 16px;
    padding: 16px 30px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.content{
    margin: 15% auto 0;   
}
.content h1{
    font-size: 65px;
    font-weight: 400;
}
.content h1 span{
    font-weight: 700;
}

form{
    width: 90%;
    max-width: 600px;
    height: 65px;
    background: #fff;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}
form input{
    flex: 1;
    padding: 20px 30px;
    font-size: 16px;
    border: 0;
    outline: 0;
    background: transparent;
}
form .btn{
    padding: 0;
    width: 150px;
    height: 65px;
    border-radius: 35px;
}
form input::placeholder{
    font-size: 16px;
}